@use "node_modules/@angular/material/index" as mat;
@use 'src/styles/color-palette';

$primary: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-primary));
$accent: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-accent, A200));
$warn: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-warn, A700));
$white: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-white));
$black: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-dark));

section {
  z-index: 1000 !important;
  position: relative;
  display: grid;
  cursor: pointer;
}


.glitch-effect {
  color: $white;
  border: 1px solid;
  padding: 0.6rem 0.81rem;
  line-height: 1.5em;
  max-width: 16.5rem;
  min-width: 9.5rem;
  &:hover, 
  &:focus {
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
    .underline-decoration {
      animation: blink 0.1s infinite;
    }
    .arrow-decoration {
      animation: blink 0.1s infinite;
    }
    :before {
      content: " ";
      width: 0.93rem;
      border: 1px solid $primary;
      left: 50%;
      position: absolute;
      bottom: 2%; 
      transform: rotate(45deg)
    }
    :after {
      content: " ";
      width: 75%;
      border: 1px solid $primary;
      position: absolute;
      left: 0;
      bottom: 2%;
      animation: shrink .5s 1 forwards;
    }
  }
  &:active {
    background: $black;
    color:$accent;
    animation: color-glitch .1s ease-in-out;
    .underline-decoration {
      animation-name: none;
    }
    .arrow-decoration {
      animation-name: none;
    }
    :before, :after {
      display: none;
    }
  }
}

.underline-decoration,
.arrow-decoration {
  display: inline-block;
}

@keyframes color-glitch {
  25% {
    color: $warn;
    transform: translateX(-10px);
    letter-spacing: 10px;
  }
  35% {
    color: $accent;
    transform: translate(10px);
  }
  59% {
    opacity: 0;
  }
  60% {
    color: $primary;
    transform: translate(-10px);
    filter: blur(5px);
  }
  100% {
    color: $accent;
    blur: (5px);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes shrink {
  100% {
    width: 10%;
  }
}