<ng-container *ngIf="path; else withoutRouter">
  <section (click)="navigateBy(path)">
    <div class="glitch-effect">
      <a>
        <span class="mat-body-1 caption">// {{text}}</span>
        <span class="underline-decoration">_</span>
        <span class="arrow-decoration">&rArr;</span>
      </a>
    </div>
  </section>
</ng-container>

<ng-template #withoutRouter>
  <section>
    <div class="glitch-effect">
      <a>
        <span class="mat-body-1 caption">// {{text}}</span>
        <span class="underline-decoration">_</span>
        <span class="arrow-decoration">&rArr;</span>
      </a>
    </div>
</section>
</ng-template>


