@use "node_modules/@angular/material/index" as mat;
@use 'src/styles/color-palette';
@use "sass:map";

$black: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-dark));
$accent: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-accent, A700));

section {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Scene
.scene {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
}

.scene__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scene__cover {
  position: absolute;
  bottom: -1%;
  left: -50%;
  width: 200%;
  height: 101%;
}

// Scene Enhanced
$scene-scale: 4;
$grid-colour: $accent;

.scene__perspective {
  position: absolute;
  bottom: 0;
  left: (-((440% - 100) / 2));
  width: calc(440% / $scene-scale);
  height: calc(100% / $scene-scale);
  perspective: calc(20vh / $scene-scale);
  perspective-origin: 50% 50%;
  transform: scaleX($scene-scale) scaleY($scene-scale);
  transform-origin: 0% 100%;
}

.scene__grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(60deg);
  transform-origin: 50% 100%;
}

.scene__grid-x,
.scene__grid-y {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 8% 20%;
}

.scene__grid-x {
  background-image: linear-gradient(
      to left,
      rgba($grid-colour, 0.2) 2px,
      transparent 2px
  );
}

.scene__grid-y {
  background-image: linear-gradient(
      to top,
      rgba($grid-colour, 0.2) 1px,
      transparent 1px
  );
}

.scene__cover--frame {
  background: linear-gradient(
      180deg,
      rgba($black, 0.5) 0%,
      rgba($accent, 1) 25%,
      rgba($black, 0.1) 50%,
      rgba($black, 1) 100%
  );
}

.scene__cover--scene {
  z-index: 10;
  left: 0;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba($black, 1) 1px,
      transparent 1px
  );
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: 100% 2px;
}

@supports (will-change: transform) {
  .scene__frame {
    opacity: 0;
    will-change: opacity, transform;
    animation-duration: 3600ms;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .scene__perspective {
    perspective-origin: 50% 100%;
    will-change: perspective-origin;
    animation-duration: 3600ms;
    animation-iteration-count: 1;
    animation-name: intro-perspective;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .scene__grid-y {
    will-change: transform;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-name: grid-y;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

}