$custom-dark: (
    50 : #e1e2e3,
    100 : #b5b7b8,
    200 : #848889,
    300 : #525859,
    400 : #2d3436,
    500 : #232323,
    600 : #202020,
    700 : #060c0d,
    800 : #04090a,
    900 : #020505,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
    )
);

$custom-white: (
    50 : #fffefd,
    100 : #fffbf9,
    200 : #fff9f5,
    300 : #fff7f1,
    400 : #fff5ee,
    500 : #fff3eb,
    600 : #fff1e9,
    700 : #ffefe5,
    800 : #ffede2,
    900 : #dadada,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
    )
);

$custom-primary: (
    50 : #e0fffd,
    100 : #b3fffa,
    200 : #80fff6,
    300 : #4dfff2,
    400 : #26fff0,
    500 : #00ffed,
    600 : #00ffeb,
    700 : #00ffe8,
    800 : #00ffe5,
    900 : #00ffe0,
    A100 : #b3fffa,
    A200 : #00b3fe,
    A400 : #0016ee,
    A700 : #03136D,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent: (
    50 : #f3e0f8,
    100 : #e2b3ee,
    200 : #ce80e3,
    300 : #ba4dd7,
    400 : #ac26cf,
    500 : #9d00c6,
    600 : #9500c0,
    700 : #8b00b9,
    800 : #8100b1,
    900 : #6f00a4,
    A100 : #edceff,
    A200 : #fe00fe,
    A400 : #c768ff,
    A700 : #7700a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-warn: (
    50 : #f5e3e3,
    100 : #e5b9b9,
    200 : #d48a8a,
    300 : #c35b5b,
    400 : #b63737,
    500 : #a91414,
    600 : #a21212,
    700 : #980e0e,
    800 : #8f0b0b,
    900 : #7e0606,
    A100 : #ffadad,
    A200 : #ff7a7a,
    A400 : #ff4747,
    A700 : #ff2d2d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
