@use "node_modules/@angular/material/index" as mat;
@use 'color-palette';
@use 'common';
@use "sass:map";

@import './styles.scss';
@import 'animations/retrowave.scss';
@import 'animations/glitch.scss';
@import 'animations/commons.scss';

$custom-primary: mat.define-palette(color-palette.$custom-primary);
$custom-accent: mat.define-palette(color-palette.$custom-accent);
$custom-warn: mat.define-palette(color-palette.$custom-warn);

$custom-dark-theme: mat.define-dark-theme(( color: (
  primary: $custom-primary,
  accent: $custom-accent,
  warn: $custom-warn,
),
  typography: common.$custom-typography,
  density: 0,
));

// Apply-extra-colors
$custom-dark-theme: common.apply-extra-color-white($custom-dark-theme);
$custom-dark-theme: common.apply-extra-color-black($custom-dark-theme);

//Generate theme
@include common.create-theme($custom-dark-theme);

//root color-variables
$blue: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-primary));
$blue-light: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-primary, A200));
$black: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-dark));
$white: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-white, 900,));
$purple-light: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-accent, A200));

.mat-app-background {
  background-color: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-dark, 900));
}

//cyber box-shadow and border //
.box-style {
  padding: 1.75rem 2.5rem;
  max-width: 100%;
  min-height: 60vh;
  background: linear-gradient(45deg, rgba($blue-light, 0.4), rgba($purple-light, 0.4));
  box-shadow: 0 0 0.625rem rgba($black, 0.9);
}
//typewritter effect container //
.typewriter {
  display: flex;
  flex-direction: column;
}

.typewriter::after {
  position: relative;
  display: inline-block;
  content: '';
  width: .45em;
  height: .85em;
  background-color: $white;
  animation: text-blink 1.25s infinite;
  box-shadow: 0 1px 10px $blue-light;
}

@media (min-width: 355px) and (max-width: 767px) {

  body {
    padding: 4rem 0.5rem 2rem 2rem;
  }

  .box {
    position: fixed;
    padding: 1rem 1.25rem;
    overflow-y: auto;
  }

  .mat-headline-4, .mat-headline-3 {
    margin-bottom: 0.25rem !important;
  }
}

@supports (will-change: transform) {
  .frame {
    opacity: 0;
    will-change: opacity, transform;
    animation-duration: 3600ms;
    animation-iteration-count: 1;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
