*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -font-smoothing: antialiased;
}

.caption { text-transform: uppercase; }
