<ng-container>
  <section>
    <div class="terminal glitch">
      
      <div class="sys-rec">

        <div class="sys-rec_rebooting">
          <p class="mat-subtitle-1">&lt; SYSTEM REBOOTING &gt;</p>
          <p class=" mat-subtitle-1">SECRET PORTFOLIO VER 2.1 SYS RECOVERY</p>
          <p class=" mat-subtitle-1">
              PROCESS: 
              <span class="process-amount">0</span>
              %
          </p>
          <p class="loading-bar"></p>
        </div>

        <div class="sys-rec_reboot_success hidden">
          <p class="mat-headline-3">REBOOTING SUCCESSFUL</p>
          <div>
            <app-cyber-button text="Initialize"
                               path="secret"
                               />
          </div>
        </div>

      </div>
    </div>

  </section>
</ng-container>
