<ng-container>
  <section>
    
    <div class="terminal glitch">
      <app-scanline />
      <div class="hydra">
        <div class="hydra_rebooting">
          <p class="mat-subtitle-1">&lt; SYSTEM REBOOTING &gt;</p>
          <p class="text--sm mat-subtitle-1">SECRET PORTFOLIO VER 2.1 SYS RECOVERY</p>
          <p class="text--sm mat-subtitle-1">PROCESS: 
                  <span class="process-amount">0</span>
                  %
            </p>
          <p class="loading-bar"></p>
        </div>
        <div class="hydra_reboot_success hidden">
          <p>REBOOTING SUCCESSFUL</p>
          <app-cyber-button text="Initialize"
                              path="home"
                              />
        </div>
      </div>
    </div>

  </section>
</ng-container>
