<ng-container>
  <section>
    <div class="row-alignment">
      <div class="box-style introduction">
        <h2 class="mat-headline-4 caption">// skills _&rArr;</h2>
        <span class="mat-body-2">_&rArr; I create successful responsive websites that are fast, easy to use and built with best practices.</span>
        <span class="mat-body-2">_&rArr; My main area of expertise is front-end development where I am currently developing with angular and creating small to large and complex web applications.</span>
        <span class="mat-body-2">_&rArr; I currently focus most of my studies on 3d game development and keep up to date with the main technologies and practices in the market, I have very advanced knowledge in HTML and CSS.</span>
        <span class="mat-body-2">_&rArr; I have knowledge in Backend in highly complex languages such as Java and C#, as well as frameworks such as NodeJs. </span>
      </div>

      <div class="tables-container">
        <ng-container *ngFor="let tables of tables">
            <app-table class="tables-width"
                      title="{{tables.title}}"
                      [tableDataWithProgress]="tables.tr" />
        </ng-container>
      </div>
    </div>

    <nav>
      <ul>
        <app-cyber-button text="_return"
                          path="secret"/>

        <app-cyber-button text="_secret_works"
                          path="secret/works"/>
      </ul>
    </nav>
  </section>
</ng-container>
