<section>
  <app-error [txt]="['FORCE: XX0022. ENCYPT://000.222.2345',
                    'TRYPASS: ********* AUTH CODE: ALPHA GAMMA: 1___ PRIORITY 1',
                    'RETRY: SEARCHING WORKS INFORMATION...',
                    'BUILD FAILED ...',
                    '================================================',
                    'Priority 1 // local / scanning...',
                    'scanning ports...',
                    'WE ARE CAPTURING THE DATA (23.45.23.12.00000000)',
                    'SOON THERE WILL BE A NEW FEATURE (13.66.23.12.00110000)',
                    'UNDER UPDATE/UPDATING (13.66.23.12.00110044)',
                    '...',
                    'BRUTE.EXE -r -z',
                    '...locating vulnerabilities...',
                    'MCP/> DEPLOY CLU',
                    'SCAN: __ 0020.0000.0553.0080',
                    'SCAN: __ 0001.0000.0554.0550',
                    'SCAN: __ 0012.0000.0553.0030',
                    'SCAN: __ 0100.0000.0554.0080',
                    'SCAN: __ PLEASE COME BACK LATER'
                    ]"
  />
</section>
