@use "node_modules/@angular/material/index" as mat;
@use 'src/styles/color-palette';

$blue: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-primary));
$purple-light: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-accent, A200));
$red: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-warn, A700));
$white: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-white));
$black: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-dark));

section {
  z-index: 1000 !important;
  position: relative;
  display: grid;
  cursor: pointer;
}

.glitch-effect {
  color: $white;
  padding: 0 0.81rem;
  line-height: 1.5em;
  max-width: 16.5rem;
  min-width: 9.5rem;
  &:hover,
  &:focus {
    background-color: transparent;
    color: $blue;
    .underline-decoration {
      animation: blink-btn 0.1s infinite;
    }
    .arrow-decoration {
      animation: blink-btn 0.1s infinite;
    }
    :before {
      content: " ";
      width: 0.93rem;
      border-bottom: 1px solid $blue;
      left: 50%;
      position: absolute;
      bottom: 2%;
      transform: rotate(45deg)
    }
    :after {
      content: " ";
      width: 75%;
      border-bottom: 1px solid $blue;
      position: absolute;
      left: 0;
      bottom: 2%;
      animation: shrink .5s 1 forwards;
    }
  }
  &:active {
    color:$purple-light;
    .underline-decoration {
      animation-name: none;
    }
    .arrow-decoration {
      animation-name: none;
    }
    :before, :after {
      display: none;
    }
  }
}

.underline-decoration,
.arrow-decoration {
  display: inline-block;
}