@use "node_modules/@angular/material/index" as mat;
@use 'src/styles/color-palette';

$primary: mat.get-color-from-palette(mat.define-palette(color-palette.$custom-primary));

section {
  z-index: 1000 !important;
  position: relative;
  display: grid;
  cursor: pointer;
}

.glitch-effect {
  &:hover, 
  &:focus {
    color: $primary;
    .underline-decoration {
      animation: blink 0.1s infinite;
    }
    .arrow-decoration {
      animation: blink 0.1s infinite;
    }
  }
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}